{% extends 'base.html.twig' %}

{% block title %}Game homepage{% endblock %}


{% block body %}

    <h1>Game over try again</h1>

    <p><a href="{{ path('game_homepage') }}">Start Game</a></p>


{% endblock %}


