<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% spaceless %}{% block title %}Welcome!{% endblock %}{% endspaceless %}</title>
        {% block stylesheets %}
            {% stylesheets
                'css/*'
                output = 'css/compiled.css'
                filter='uglifycss' filter='cssrewrite'

            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% javascripts

            'js/ractive.js'
            'js/*'
            output = 'js/compiled.js'
            filter='uglifyjs2'

            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
