{% extends 'base.html.twig' %}

{% block title %}Welcome on tournament{% endblock %}



{% block body %}

    <h1>Welcome to game of cards</h1>

    <p><a href="{{ path('game_homepage') }}">Start Game</a></p>


{% endblock %}



